<div class="barcode-box">

  <div class="barcode-item">
    <input matInput #isbn maxlength="256" type="text" placeholder="Barcode Number" [ngClass]="'barcode-txt'">
    <button (click)="onClick()" mat-fab><mat-icon>file_upload</mat-icon></button>
    <input type="file" class="cameraInput" accept="image/*" capture="camera" #fileInputbox (cancel)="onCancel($event)"
           (change)="onChange($event)"
           [ngClass]="['none']">
  </div>

  <div class="barcode-item">

    <mat-progress-bar *ngIf="startProgress"
                      class="app-progress flex-item"
                      mode="indeterminate"
                      aria-label="Indeterminate progress-bar example"></mat-progress-bar>

    <div class="barcode-result">
      <div class="small-img">
        <img [src]="resultUrl" *ngIf="resultUrl">
      </div>
      {{resultCode}}
      {{error}}
      {{message}}
    </div>

  </div>

</div>
